@using Microsoft.AspNetCore.Identity
@model List<ApplicationUser>
@inject UserManager<ApplicationUser> UserManager
@{
    ViewBag.Title = "Users";
}
<table class="table">
    <thead>
        <tr>
            <th>E-mail</th>
            <th>Registration Time</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            bool active = !await UserManager.IsLockedOutAsync(user);
            <tr>
                <td>@user.Email</td>
                <td>@user.RegistrationTime</td>
                <td>
                    <input type="checkbox" @(active ? "checked" : "") data-user-change-status="@user.Id" data-bootstrap-switch>

                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        $("input[data-bootstrap-switch]").each(function () {
            $(this).bootstrapSwitch({
                state: $(this).prop('checked'),
                onText: "Yes",
                offText: "No",
                onColor: "success",
                offColor: "danger",
                onSwitchChange: function (event, state) {
                    var chk = this;
                    var userId = $(chk).data("user-change-status");
                    $.post("@Url.Action("ChangeStatus", "Users")", { userId: userId, active: state }, function (data) {
                        toastr.success("Status changed !");
                    });
                }
            });
        });

        @*$("[data-bootstrap-switch]").change(function (event) {
            var chk = this;
            var checked = $(chk).prop("checked");
            var userId = $(chk).data("user-change-status");
            $.post("@Url.Action("ChangeStatus", "Users")", { userId: userId, active: checked }, function (data) {
                toastr.success("Status changed !");
            });
        });*@
    </script>
}